<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446167274830-upic3er2g66hc7cogtrg1022dsbp61cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446167274830-upic3er2g66hc7cogtrg1022dsbp61cd</string>
	<key>API_KEY</key>
	<string>AIzaSyCH44mko3zFJZIMsaSUR4r9J-W8McRsGkw</string>
	<key>GCM_SENDER_ID</key>
	<string>446167274830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lds.firstflutterapp</string>
	<key>PROJECT_ID</key>
	<string>fir-c627e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-c627e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446167274830:ios:65da6f1766269a44263a1f</string>
</dict>
</plist>